@{
    ViewBag.Title = "Create";
}

@section extrajs
{
    <script type="text/javascript" src="~/Scripts/parsley.js"></script>
}

<div id="v-category-form" class="columns is-multiline">
    @{ await Html.RenderPartialAsync("_CategoryForm"); }
</div>