@{
    ViewBag.Title = "Edit Category";
}

@section extrajs
{
    <script type="text/javascript" src="~/lib/parsleyjs/js/parsley.js"></script>
}

<div id="v-category-form" class="columns is-multiline">
    @{ await Html.RenderPartialAsync("_CategoryForm"); }
</div>
