@model IEnumerable<Finance.Common.Entities.Category>

@{
    ViewBag.Title = "Categories";
}

<div id="v-categories">
    <div class="level">
		<div class="level-left">
            <div class="level-item">
                <div class="title">Categories</div>
            </div>
        </div>
	</div>
	<div class="columns is-multiline">
        <div class="column is-12">
			<form id="search">
				Search <input class="input" name="query" v-model="searchQuery">
			</form>
			<br />
			<div class="table-wrapper">
				<custom-grid
					:data="gridData"
					:columns="gridColumns"
					:display-names="displayNames"
					:filter-key="searchQuery">
				</custom-grid>
			</div>
			
			<p>
				<a href="@Url.Action("create","category")" class="button is-primary">Create New</a>
			</p>
		</div>
	</div>
</div>

<script type="text/x-template" id="grid-template">
    <table class="table is-hoverable is-striped is-fullwidth">
        <thead>
        <tr>
            <th v-for="key in columns" v-on:click="sortBy(key)" :class="{ active: sortKey == key }">
            	{{ key | getDisplayName(displayNames) }} <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
            </th>
			<th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(entry, index) in filteredData">
            <td class="has-text-left" v-for="key in columns">{{entry[key]}}</td>
			<td>
				<a :href="'/category/edit/' + entry.id"><span class="fa fa-edit"></span> </a>
				<a :href="'/category/delete/' + entry.id"><span class="fa fa-trash"></span></a>
			</td>
        </tr>
        </tbody>
    </table>
</script>

@section extrajs
{
    <script type="text/javascript" src="~/js/views/category/category-list.js"></script>
}
