<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <meta name="language" content="en-EN" />
  <title>Personal Finance</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css">
  @RenderSection("extracss", required: false)
</head>

<body>
  <header class="hero is-light">
    <div class="hero-head">
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">Personal Finance</a>
          <a class="navbar-item is-tab is-hidden-mobile is-active" href="/">
              <span class="icon is-medium"><i class="fa fa-home"></i></span>Home
          </a>
          <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="navbar-menu navbar-end" id="navMenu">
          <a class="navbar-item is-tab is-hidden-tablet is-active" href="/">Home</a>
          <a class="navbar-item nav-tag">              
            <span class="icon is-small">
              <i class="fa fa-envelope-o"></i>
            </span>
            <span class="tag is-primary tag-notif">6</span>
          </a>  
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">              
              <figure class="image is-32x32" style="margin-right:.5em;">
                <i class="fa fa-user fa-2x"></i>
              </figure>
            </a>
          
            <div class="navbar-dropdown is-right">              
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-user-o"></i>
                  </span>
                  Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/auth/signout">
                  <span class="icon is-small">
                    <i class="fa fa-power-off"></i>
                  </span>
                  Logout
                </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="section">
    <div class="columns">
      <aside class="column is-2">
        <nav class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a class="is-active" href="/"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> Dashboard</a></li>
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li><a href="/transaction"><span class="icon is-small"><i class="fas fa-dollar-sign"></i></span> Transactions</a></li>
            <li><a href="/category/index"><span class="icon is-small"><i class="fa fa-desktop"></i></span> Categories</a></li>
            <li>
              <a class=""><i class="fa fa-cog"></i> Settings</a>
              <ul>
                <li><a>Members</a></li>
              </ul>
            </li>
          </ul>
          <p class="menu-label">
            Extras
          </p>
          <ul class="menu-list">
            <li><a><span class="icon is-small"><i class="fas fa-bug"></i></span> Tasks</a></li>
            <li><a href="/utility/importfile"><span class="icon is-small"><i class="fas fa-cloud-upload-alt"></i></span> Import</a></li>
          </ul>
        </nav>
      </aside>

      <main id="v-main" class="column">
        @RenderBody()
      </main>
    </div>
  </div>
  <environment names="Development">
      <script src="/js/site.js" asp-append-version="true"></script>
      <script src="/js/app.js" asp-append-version="true"></script>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/buefy"></script>
  </environment>

  <environment names="Staging,Production">
      <script src="/js/site.js" asp-append-version="true"></script>
      <script src="/js/app.js" asp-append-version="true"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.min.js" asp-append-version="true"></script>
      <script src="https://unpkg.com/buefy"></script>
  </environment>
  @RenderSection("extrajs", required: false)
  @RenderSection("extrascripts", required: false)
</body>
</html>
