@{

}
<div id="v-dashboard">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="title">Summary</div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p>
                    Today: {{ today }}
                </p>
            </div>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column">
            <div class="box notification is-primary">
                <div class="heading">Income (This Month)</div>
                <div class="title">{{ incomeThisMonth }}</div>
                <div class="level">
                    <div class="level-item">
                        <div class="">
                            <div class="heading">Top Category</div>
                            <div class="title is-5">N/A</div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="">
                            <div class="heading">$</div>
                            <div class="title is-5">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
        <div class="box notification is-warning">
            <div class="heading">Expenses (This Month)</div>
            <div class="title">{{ expenseThisMonth }}</div>
            <div class="level">
                <div class="level-item">
                    <div class="">
                        <div class="heading">Top Category</div>
                        <div class="title is-5">N/A</div>
                    </div>
                </div>
                <div class="level-item">
                    <div class="">
                        <div class="heading">$</div>
                        <div class="title is-5">0</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="column">
            <div class="box notification is-info">
                <div class="heading">Income (this year)</div>
                <div class="title">{{ yearlyIncome }}</div>
                <div class="level">
                    <div class="level-item">
                        <div class="">
                            <div class="heading">Top Category</div>
                            <div class="title is-5">N/A</div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="">
                            <div class="heading">$</div>
                            <div class="title is-5">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box notification is-danger">
                <div class="heading">Expenses (This year)</div>
                <div class="title">{{ yearlyExpense }}</div>
                <div class="level">
                    <div class="level-item">
                        <div class="">
                            <div class="heading">Top Category</div>
                            <div class="title is-5">N/A</div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="">
                            <div class="heading">$</div>
                            <div class="title is-5">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column is-6">
        <div class="panel">
            <p class="panel-heading">
                Expenses By Category (This Month)
            </p>
            <div class="panel-block">
                <canvas id="chartpie" width="400" height="400"></canvas>
            </div>
        </div>
        </div>
        <div class="column is-6">
        <div class="panel">
            <p class="panel-heading">
                Income vs Expense (This Year)
            </p>
            <div class="panel-block">
                <canvas id="chartbar" width="400" height="400"></canvas>
            </div>
        </div>
        </div>
        <div class="column is-12">
            <div class="panel">
                <p class="panel-heading">
                    Income/Expenses - This Year
                </p>
                <div class="panel-block">
                    <canvas id="chartline" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section extrajs
{
    <script type="text/javascript" src="~/lib/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script type="text/javascript" src="~/js/random-color.js"></script>
    <script type="text/javascript" src="~/js/views/dashboard.js"></script>
}

@section extrascripts
{
}