@using System
@model Finance.Web.ViewModels.TransactionListViewModel

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ContentHeader = "Transactions";
}
<div id="v-transactions">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="title">Transactions</div>
            </div>
            <div class="level-item">
                <span class="tag is-success">{{ totalIncome }}</span>
                <span class="tag is-danger">{{ totalExpenses }}</span>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="select">
                    <select v-on:change="monthChanged" v-model="selectedMonth">
                        <option v-for="month in months" v-bind:value="month.value">{{ month.text }}</option>
                    </select>
                </div>
                <div class="select">
                    <select v-on:change="yearChanged" v-model="selectedYear">
                        <option v-for="year in years" v-bind:value="year">{{ year }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        <div class="column is-12">
        <b-table
            :data="gridData"
            paginated
            :loading="loading"
            :per-page="20"
            default-sort="Date">

            <template slot-scope="props">
                <b-table-column field="date" label="Date" sortable>
                    {{ new Date(props.row.date).toLocaleDateString() }}
                </b-table-column>

                <b-table-column field="description" label="Description" sortable>
                    {{ props.row.description }}
                </b-table-column>

                <b-table-column field="category.name" label="Category" sortable>
                    {{ props.row.category.name }}
                </b-table-column>

                <b-table-column field="amount" label="Amount" sortable numeric>
                    <span class="tag is-success">{{ props.row.amount }}</span>
                </b-table-column>
                <b-table-column field="" label="" sortable numeric>
                    <a :href="'/transaction/edit/' + props.row.id"><span class="fa fa-edit"></span> </a>
                    <a :href="'/transaction/delete/' + props.row.id"><span class="fa fa-trash"></span></a>
                </b-table-column>
            </template>
        </b-table>
        <p>
            <a href="@Url.Action("create","transaction")" class="button is-primary">Create Transaction</a>
        </p>
        </div>
    </div>
</div>

@section extrajs
{
    <script type="text/javascript" src="~/lib/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="~/js/views/transaction/transaction-list.js"></script>
}

@section extrascripts
{
    
}