@model Finance.Common.Dtos.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <meta name="language" content="en-EN" />
  <title>Personal Finance - Login</title>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css">
  <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>

<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Login</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <div class="box">
            <figure class="avatar">
              <i class="fa fa-user fa-5x"></i>
            </figure>
            <form role="form" action="/auth/signin" method="post">
			  @Html.AntiForgeryToken()
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <button type="submit" class="button is-primary">Login</button>
            </form>
          </div>
          <p class="has-text-grey">
            <!-- <a href="../">Sign Up</a> &nbsp;·&nbsp;
            <a href="../">Forgot Password</a> &nbsp;·&nbsp;
            <a href="../">Need Help?</a> -->
          </p>
        </div>
      </div>
    </div>
  </section>
  <script async type="text/javascript" src="~/js/site.js"></script>
  
</body>
</html>
